/* HEADER */

.header-wrapper {
  container-type: inline-size;
}

.home-main {
  overflow: visible;
  margin: none;
  padding: none;
}

.sticky-container {
  position: sticky;
  top: 0;
  z-index: 50;
  grid-column: full-start / full-end;
}

main {
  padding-top: 0;
}

.trigger-div {
  place-self: center;
  position: absolute;
  right: 2em;
  top: 0;
  bottom: 0;
}

.popover-trigger {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: oklab(100% 0 -0.00011);
}

.PopoverContent {
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

@container (width < 700px) {
  header nav {
    display: none;
  }
}

@container (width > 700px) {
  .burger-container {
    display: none;
  }
}

/* HERO */

/* hero image */
.hero-image {
  position: relative;
  background: no-repeat center/cover;
  height: 70vh;

  > * {
    z-index: 1;
  }
}

.image-party {
  opacity: 0.3;
}

/* hero knapper */
.pink-btn,
.black-btn {
  transition: 0.5s;
  background-size: 200% auto;
}

.pink-btn:hover {
  background-position: right center;
}

.black-btn:hover {
  background-color: oklch(8.811% 0.00455 17.93);
}

/* SEKTION 1: WELCOME */

.welcome {
  container-type: inline-size;
}

@container (width < 700px) {
  .welcome-image-div {
    flex-direction: column;
  }
}

/* overlay hover function */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1.5s ease;
  background-color: oklch(0% 0 0);
}

.image-hover:hover .overlay {
  opacity: 90%;
}
/* welcome card overlay */

.overlay-text {
  transform: translate(-50%, -50%);
  text-align: center;
}

/* SEKTION 2: FEATURED CARD */

/* featured card overlay */

.featured-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1.5s ease;
  background-color: oklch(0% 0 0 / 0.54);
}

.image-hover:hover .featured-overlay {
  opacity: 90%;
}

.featured-overlay-text {
  transform: translate(-50%, 0%);
}
.text-overlay {
  background-color: oklch(0% 0 0 / 0.847);
}

/* featured card grid and background */

.featuredsection {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full-start / full-end;

  background: url("/assets/bg/slider_bg_overlay.webp")
    no-repeat center/cover;

  > * {
    z-index: 1;
    grid-column: content-start / content-end;
  }
}

/* featured card scroller */

ul.full-width-scroller {
  list-style: none;
  display: block;
  padding: 0;
  width: 100%;
}

ul.full-width-scroller li {
  width: 100%;
  max-width: 100%;

  img {
    max-width: 100%;
  }
}

@media (min-width: 900px) {
  ul.full-width-scroller {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: fit-content;
    overflow: visible;
  }

  ul.full-width-scroller li {
    max-width: fit-content;
  }
}

@media (max-width: 1100px) {
  ul.full-width-scroller {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: fit-content;
    overflow: visible;
  }

  ul.full-width-scroller li {
    max-width: fit-content;
  }
}

/* SECTION 3 - NIGHT CLUB GALLERY */

.gallery-section {
  grid-column: full-start / full-end;
  container-type: inline-size;
}

.gallery-img-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.gallery-wrapper {
  height: 320px;
  flex: 1 1 21%;
  min-width: 0;
  overflow: hidden;
}

.gallery-container,
.gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 1.5s ease;
}

.gallery-hover:hover .gallery-overlay {
  opacity: 100%;
}

.lightbox-wrapper {
  position: relative;
  width: 100%;
  max-width: 1040px;
  min-width: 820px;
  margin: 0 auto;
}

.lightbox-wrapper img {
  max-width: 1040px;
  max-height: 520px;
  object-fit: cover;
}

@container (width < 900px) {
  .gallery-img-wrapper {
    display: flex;
    flex-direction: column;
  }

  .gallery-lightbox {
    padding: 0;
  }

  .lightbox-wrapper {
    position: relative;
    min-width: 350px;
    max-width: fit-content;
    object-fit: cover;
  }

  .lightbox-wrapper img {
    min-height: 230px;
  }

  .button-left,
  .button-right {
    background-color: oklch(
      24.807% 0.00715 325.606 / 0.63
    );
  }

  .button-exit {
    top: 15px;
    right: 15px;
    font-size: 24px;
    background-color: oklch(
      24.807% 0.00715 325.606 / 0.63
    );
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* SEKTION 4: NIGHT CLUB TRACK */

.track-active-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1.5s ease;
  background-color: oklch(0% 0 0);
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  background: oklch(100% 0.00011 271.152);
  cursor: pointer;
}
.volume-slider::-moz-range-thumb {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  background: oklch(100% 0.00011 271.152);
  cursor: pointer;
  border: none;
}

.artist-track:hover .track-active-overlay {
  opacity: 90%;
}

.play-button:focus .track-active-overlay {
  opacity: 90%;
}

.track-player-container {
  container-type: inline-size;
}

.track-controls {
  container-type: inline-size;
}

.track-container {
  display: grid;
}

@container (width < 760px) {
  .track-player-wrapper {
    margin-bottom: 20px;
    img {
      display: none;
    }
  }

  .title {
    text-align: center;
  }

  .track-controls {
    flex-direction: column;
    gap: 1rem;
  }
}

/* SECTION 5 - LATEST VIDEO */
.video-section {
  display: grid;
  grid-column: full-start / full-end;
}

.video-container,
.video-container video {
  place-self: center;
  object-fit: cover;
}

/* SEKTION 6: TESTIMONIALS */

.testimonials-section {
  grid-column: full-start / full-end;

  > * {
    grid-column: content-start / content-end;
  }
}

/* EVENTS */
.events-wrapper,
.events-wrapper-content {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full-start / full-end;
}

.fullbleed-eventsimg {
  grid-column: full-start / content-middle;
  grid-row: 1;
}

.events-content {
  grid-column: content-middle / content-end;
  grid-row: 1;
}

.events-wrapper:nth-child(odd)
  .fullbleed-eventsimg {
  grid-column: content-middle / full-end;
}

.events-wrapper:nth-child(odd) .events-content {
  grid-column: content-start / content-middle;
}

.pagination-content {
  grid-column: content-start / content-end;
}

@media (width < 1250px) {
  .events-wrapper:nth-child(odd) .events-content {
    grid-column: content-middle / full-start;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }

  .events-wrapper:nth-child(even)
    .events-content {
    grid-column: content-middle / full-end;
    margin-bottom: 1rem;
    padding-right: 1rem;
  }
}

@media (width < 768px) {
  .events-wrapper-content,
  .fullbleed-eventsimg {
    display: flex;
    flex-direction: column;
  }

  .events-content {
    margin-block: var(--spacing-small);
    padding-left: 1rem;
  }

  .events-button {
    margin: auto;
    margin-block: var(--spacing-small);
  }
}

/* TABLE BOOKING */
.booking-number {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table-img {
  height: auto;
  width: 100%;
}

.table-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--space-grid-table), 1fr)
  );
  column-gap: var(--spacing-small);
  row-gap: var(--spacing-medium);
  text-align: center;
  max-width: 1100px;
  margin-inline: auto;
}

.table-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* FORM RESPONSIVITET FOR BOOKING AND CONTACT */

.input-wrapper > div {
  width: var(--form-width-small);
}

.form-container {
  container-type: inline-size;
}

.form-container form,
.form-container h1 {
  max-width: 1100px;
  margin-inline: auto;
}

@container (width < 600px) {
  .input-wrapper {
    flex-direction: column;
  }
}

.input-wrapper {
  container-type: inline-size;
}

@container (width < 600px) {
  .input-wrapper > div {
    width: var(--form-width-big);
  }
}

.night-container {
  container-type: inline-size;
}

@container (width < 600px) {
  .night-form {
    width: var(--form-width-big);
  }
}

/* SINGLE VIEW */

.singleview-info {
  grid-column: content;
}

.singleview-img {
  grid-column: 1;
}

.singleview-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.singleview-textbox {
  grid-column: 2;
  line-height: 1.9;
  letter-spacing: var(--letterspace-narrow);
}

.singleview-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--pink)
    var(--color-background);
  scroll-behavior: smooth;
  background-color: oklch(
    19.125% 0.00002 271.152 / 0.521
  );
}

@media (width < 860px) {
  .singleview-content {
    display: flex;
    flex-direction: column;
  }

  .singleview-scrollbar {
    overflow-y: none;
    background-color: transparent;
    overflow: auto;
    max-height: fit-content;
    max-width: fit-content;
  }

  .singleview-textbox {
    max-width: fit-content;
  }

  .singleview-text {
    max-width: none;
    padding-left: 0;
  }
}
