/* HEADER */

.header-wrapper {
  container-type: inline-size;
}

.trigger-div {
  margin-block: 2em;
  position: absolute;
  right: 2em;
  top: 0;
}

.popover-trigger {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.PopoverContent {
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

@container (width < 700px) {
  header nav {
    display: none;
  }
}

@container (width > 700px) {
  .burger-container {
    display: none;
  }
}

/* HERO */

.hero-image {
  background: url("/assets/bg/header_bg_2.jpg")
    no-repeat center/cover;

  padding-block: 15rem;
  position: relative;

  > * {
    z-index: 1;
    position: relative;
  }
}

.hero-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  opacity: 0.8;
  z-index: 0;
}

.pink-btn,
.black-btn {
  transition: 0.5s;
  background-size: 200% auto;
}

.pink-btn:hover {
  background-position: right center;
  /*   animation: hopla 3s ease-in-out 1; */
}

.black-btn:hover {
  background-color: oklch(8.811% 0.00455 17.93);
}

@keyframes hopla {
  0% {
    background: linear-gradient(
      oklch(64.17% 0.2372 5.429),
      #b822b5
    );
  }
  100% {
    background: oklch(55.879% 0.23493 329.085);
  }
}
