@import "tailwindcss";

:root {
  /* PRIMITIVES */
  /* COLORS */
  --primary-light: oklch(97.614% 0.00011 271.152);
  --primary-dark: oklch(15.557% 0.0017 16.767);
  --pink: oklch(65.346% 0.24194 9.256);
  --dark-pink: oklab(53.169% 0.19443 0.0322);
  --medium-grey: oklch(82.032% 0.00009 271.152);
  --dark-grey: oklch(78.422% 0.00223 15.01);
  --background: oklch(15.557% 0.0017 16.767);
  --foreground: oklch(97.614% 0.00011 271.152);
  --form-background: oklch(
    24.807% 0.00715 325.606 / 0.825
  );
  --green: oklch(87.088% 0.27592 143.572);

  /* FLUID FONT-SIZES */
  --large: clamp(
    0.8125rem,
    0.3036rem + 2.2619cqi,
    2rem
  );
  --medium-large: clamp(
    2rem,
    1.8393rem + 0.7143cqi,
    2.375rem
  );
  --medium: clamp(
    2rem,
    1.6786rem + 1.4286cqi,
    2.75rem
  );
  --medium-small: clamp(
    1.25rem,
    1.1429rem + 0.4762cqi,
    1.5rem
  );
  --small: clamp(
    1rem,
    0.9464rem + 0.2381cqi,
    1.125rem
  );

  --button-large: clamp(
    1.25rem,
    1.1429rem + 0.4762cqi,
    1.5rem
  );

  --small-p: clamp(
    0.875rem,
    0.8239rem + 0.2273cqi,
    1rem
  );

  --xtrasmall-p: clamp(
    0.75rem,
    0.6989rem + 0.2273vw,
    0.875rem
  );

  --medium-v2: clamp(
    1.125rem,
    0.9076rem + 0.8696vw,
    1.5rem
  );

  /* NON-FLUID FONT-SIZES */
  --non-fluid-medium: 24px;
  --non-fluid-small: 18px;

  /* FONT-WEIGHTS */
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regular: 400;

  /* LETTERSPACING */
  --letterspace-wide: 100%;
  --letterspace-medium: 7.5%;
  --letterspace-narrow: 2%;

  /* FLUID SPACING */
  /* @link https://utopia.fyi/clamp/calculator?a=360,1200,24—240 */
  --fluid-24-240: clamp(
    1.5rem,
    -4.2857rem + 25.7143cqi,
    15rem
  );

  /* @link https://utopia.fyi/clamp/calculator?a=360,1200,30—130 */
  --fluid-30-130: clamp(
    1.875rem,
    -0.8036rem + 11.9048cqi,
    8.125rem
  );

  /* @link https://utopia.fyi/clamp/calculator?a=360,1200,30—55 */
  --fluid-30-55: clamp(
    1.875rem,
    1.2054rem + 2.9762cqi,
    3.4375rem
  );

  /* @link https://utopia.fyi/clamp/calculator?a=360,1200,5—20 */
  --fluid-5-20: clamp(
    0.3125rem,
    -0.0893rem + 1.7857cqi,
    1.25rem
  );

  /* @link https://utopia.fyi/clamp/calculator?a=360,1200,12—24 */
  --fluid-12-24: clamp(
    0.75rem,
    0.4286rem + 1.4286cqi,
    1.5rem
  );

  /* @link https://utopia.fyi/clamp/calculator?a=360,1200,18—32 */
  --fluid-18-32: clamp(
    1.125rem,
    0.75rem + 1.6667cqi,
    2rem
  );

  /* @link https://utopia.fyi/clamp/calculator?a=360,1200,60—80 */
  --fluid-60-80: clamp(
    3.75rem,
    3.2143rem + 2.381cqi,
    5rem
  );

  /* @link https://utopia.fyi/clamp/calculator?a=360,1240,20—40 */
  --fluid-20-40: clamp(
    1.25rem,
    0.7386rem + 2.2727cqi,
    2.5rem
  );
}

@theme inline {
  /* COLOR TOKENS */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bodyfont: var(--medium-grey);
  --color-placeholderfont: var(--dark-grey);
  --color-formfont: var(--medium-grey);
  --color-dates: var(--pink);
  --color-footerheadlines: var(--pink);
  --color-info: var(--pink);
  --color-header-border: var(--pink);
  --color-header-hover: var(--pink);
  --color-header-active: var(--pink);
  --color-button: var(--primary-light);
  --color-button-hover: var(--pink);
  --color-headline: var(--primary-light);
  --color-divider: var(--medium-grey);
  --color-footer: var(--medium-grey);
  --color-input-bg: var(--form-background);
  --color-alert: var(--pink);
  --color-validation: var(--green);
  --color-trackbg: var(--pink);
  --color-progressbg: var(--foreground);
  --color-featuredevent-bar: var(--dark-pink);

  /* FONT-SIZE TOKENS */
  --font-home-h1: var(--large);
  --font-home-h2: var(--medium-large);
  --font-home-h3: var(--non-fluid-medium);
  --font-home-track-h3: var(--medium-small);
  --font-h1: var(--medium-large);
  --font-h2: var(--non-fluid-medium);
  --font-h3: var(--non-fluid-small);
  --font-p: var(--small-p);
  --font-input: var(--small);
  --font-button: var(--small);
  --font-event-form: var(--medium);
  --font-book-h2: var(--medium);
  --font-header-button: var(--button-large);
  --font-footer-p: var(--small-p);
  --font-xs-footer-p: var(--xtrasmall-p);
  --font-home-form-h2: var(--medium-v2);
  --font-table-p: var(--xtrasmall-p);
  --font-testimonial-p: var(--small-p);

  /* FONT WEIGHT TOKENS */ /* Home page */
  --font-weight-home-h1: var(--weight-medium);
  --font-weight-home-h2: var(--weight-medium);
  --font-weight-home-track-h3: var(
    --weight-medium
  );
  --font-weight-home-p: var(--weight-medium);

  /* Standard weights */
  --font-weight-h1: var(--weight-medium);
  --font-weight-h2: var(--weight-medium);
  --font-weight-h3: var(--weight-medium);
  --font-weight-p: var(--weight-regular);
  --font-weight-button: var(--weight-medium);
  --font-weight-input: var(--weight-regular);

  /* Special weights */
  /* For: Event page, Comments, Form, Booking page, Header-buttons */
  --font-weight-event-form: var(--weight-bold);
  --font-weight-comments-date: var(
    --weight-medium
  );
  --font-weight-comments: var(--weight-regular);
  --font-weight-book-h2: var(--weight-bold);
  --font-weight-header-button: var(
    --weight-medium
  );
  --font-weight-v2-p: var(--weight-medium);
  /* TEXT LETTERSPACING */
  /* Home page letter spacing */
  --letter-spacing-home-h1: var(
    --letterspace-wide
  );
  --letter-spacing-home-h2: var(
    --letterspace-medium
  );
  --letter-spacing-home-h3: var(
    --letterspace-narrow
  );
  --letter-spacing-home-track-h3: var(
    --letterspace-medium
  );

  /* Standard letter spacings */
  --letter-spacing-h1: var(--letterspace-medium);
  --letter-spacing-h2: var(--letterspace-narrow);
  --letter-spacing-h3: var(--letterspace-narrow);
  --letter-spacing-p: var(--letterspace-narrow);
  --letter-spacing-input: var(
    --letterspace-narrow
  );
  --letter-spacing-button: var(
    --letterspace-narrow
  );

  /* Special letter spacings for comments */
  --letter-spacing-comments-date: var(
    --letterspace-narrow
  );
  --letter-spacing-comments: var(
    --letterspace-narrow
  );

  /* FLUID SPACING */
  --margin-main: var(--fluid-24-240);

  --spacing-large: var(--fluid-60-80);
  --spacing-medium-to-large: var(--fluid-30-130);
  --spacing-medium: var(--fluid-30-55);
  --spacing-small-medium: var(--fluid-20-40);
  --spacing-small: var(--fluid-5-20);

  --padding-inline-input-field: var(
    --fluid-12-24
  );
  --padding-block-input-field: var(--fluid-18-32);

  /* FLUID GRID SIZING */
  --space-grid-table: clamp(
    6.25rem,
    4.9364rem + 6.1818cqi,
    10.5rem
  );
}

/* GRIDS */
html {
  background: var(--background);
  max-width: 1440px;
  margin: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-ubuntu-sans), sans-serif;
  display: grid;
  grid-template-columns:
    [full-start] var(--margin-main)
    [content-start] 1fr [content-middle] 1fr [content-end] var(
      --margin-main
    )
    [full-end];
  grid-template-rows: auto;
}

.header-wrapper {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full-start / full-end;
  grid-row: 1;
}

main {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full;
  grid-row: 2 / auto;
}

.hero-image {
  grid-column: full-start / full-end;
}

main section {
  grid-column: content;
}

/* EVENTS */
.events-wrapper,
.events-wrapper-content {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full-start / full-end;
}

.fullbleed-eventsimg {
  grid-column: full-start / content-middle;
  grid-row: 1;
}

.events-content {
  grid-column: content-middle / content-end;
  grid-row: 1;
}

.events-wrapper:nth-child(odd)
  .fullbleed-eventsimg {
  grid-column: content-middle / full-end;
}

.events-wrapper:nth-child(odd) .events-content {
  grid-column: content-start / content-middle;
}

.pagination-content {
  grid-column: content-start / content-end;
}

/* FOOTER */

footer {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full;
  padding: 3rem 0 2rem 0;
}

.footer-img {
  opacity: 0.2;
}

.footer-wrapper {
  display: grid;
  grid-column: content-start / content-end;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0 2rem 0;
  container-type: inline-size;
  align-items: start;
}

.clubinfo-wrapper {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo {
  max-width: 300px;
  margin-bottom: 20px;
}

.club-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2rem;
}

.news-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small-medium);
}

.news {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-small);
  padding-bottom: var(--spacing-small);

  > img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    align-self: start;
  }
}

.socialspost-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small-medium);
  margin-left: 1rem;
}

.socials-wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: var(--spacing-small);
  gap: var(--spacing-small);

  > svg {
    width: 40px;
    object-fit: cover;
    align-self: start;
  }
}

/* BOTTOM FOOTER STYLING */

.bottom-wrapper {
  display: grid;
  grid-column: 1 / span 3;
  grid-row: 2;
  padding-top: 5rem;
}

.bottom-info {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-template-areas: "a b c";
  justify-content: space-evenly;
}

.bottom-statement {
  grid-area: a;
  place-self: end start;
}

.bottom-connect {
  grid-area: b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 10px;
}

.bottom-copyright {
  grid-area: c;
  place-self: end end;
}

@container (width < 700px) {
  .socialspost-wrapper,
  .news-wrapper {
    display: none;
  }

  .footer-wrapper,
  .clubinfo-wrapper {
    display: flex;
    grid-column: 2;
    flex-direction: column;
    text-align: center;
    padding: 2rem 0 2rem 0;
  }

  .logo {
    width: 250px;
  }

  .bottom-wrapper {
    padding-top: 0;
  }

  .bottom-info {
    gap: 1rem;
    grid-template-areas: "b" "c" "a";
    align-items: center;
  }

  .bottom-statement,
  .bottom-copyright {
    place-self: center;
  }
}

.gallery-section {
  grid-column: full-start / full-end;
}
